header.navbar {
  @include box-shadow(none);
  @include transition(.2s ease);
  @include breakpoint(sm) {
    background-color: transparent;
  }

  margin: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: $light;

  .navbar-brand {
    display: block;
    margin-left: 0 !important;
    height: 100px;
    color: $text-color !important;
    text-transform: uppercase !important;
    opacity: 1;

    &.navbar-brand-img {
      padding: 18px 0;

      img {
        @include breakpoint(sm) {
          max-width: none;
          width: auto;
          height: 100%;
          vertical-align: middle;
        }

        max-width: 230px;
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-login-form {
    $input-bg: darken($gray-lighter, 2%);

    padding: 25px 0;
    font-size: 14px;

    label {
      @include breakpoint(sm) {
        margin-right: 5px;
        margin-left: 15px;
      }

      font-weight: 400;
      font-size: 14px;
    }

    .form-control {
      padding: 3px 8px;
      border-color: $input-bg;
      background-color: $input-bg;
    }

    .btn {
      @include breakpoint(sm) {
        margin-left: 10px;
      }
    }

    .separator {
      @include breakpoint(sm) {
        display: inline-block;
      }

      display: none;
      margin: 0 15px;
      height: 50px;
      border-right: 1px solid darken($border-color-base, 20%);
    }

    .links {
      p {
        margin: 0;
        line-height: 1.4;

        a {
          padding: 0 !important;
          color: $text-color;
          font-size: 12px;
        }
      }
    }
  }

  .navbar-collapse {
    @include breakpoint($grid-float-breakpoint) {
      background-color: transparent;
    }

    background-color: $light;
  }

  .navbar-nav {
    a {
      font-weight: 600;
      font-size: 16px;

      i {
        margin-right: 2px;
      }
    }

    li {
      &.mobile {
        @include breakpoint($grid-float-breakpoint-max) {
          display: none;
        }
      }
    }
  }

  .dropdown {
    @include breakpoint($grid-float-breakpoint-max) {
      display: inline-block;
    }

    display: none;

    .dropdown-toggle {
      @include breakpoint($grid-float-breakpoint) {
        display: block;
        padding: 0 !important;
      }

      display: none;
      padding: $padding-large-vertical * 2 !important;
      padding-right: 15px !important;
      padding-left: 35px !important;
      line-height: 100px;

      .avatar {
        float: right;
        margin: 25px 0 25px 12px;
      }

      .icon {
        font-size: 12px;
      }
    }

    .dropdown-menu {
      @include translate(0, 0);
      @include transition(.2s ease);
      @include breakpoint($grid-float-breakpoint-max) {
        display: block;
        visibility: hidden;
        border-radius: $border-radius-base + 2;
        opacity: 0;
        pointer-events: none;

        &:before {
          $size: 18px;

          top: - ($size / 2) - 1;
          right: 69px;
          display: block;
          width: $size;
          height: $size;
          border-top-left-radius: $border-radius-base + 2;
          background-color: $panel-default-heading-bg;
        }
      }

      top: 150%;
      right: -15px;
      padding-top: 0;

      &:before {
        border: none;
      }

      li {
        a {
          padding-top: 13px;
          padding-bottom: 13px;
          font-weight: normal;
          line-height: 1;

          i {
            margin-right: 5px;
          }
        }

        &.user-header-list-item {
          @include breakpoint($grid-float-breakpoint-max) {
            display: block;
          }

          display: none;
        }

        .user-header {
          @include clearfix;

          padding: 8px 15px;
          border-bottom: 1px solid $border-color-base;
          background-color: $panel-default-heading-bg;
          vertical-align: middle;
          line-height: 2.3;

          .avatar {
            @include box-shadow(none);

            margin: 0;
            width: 38px;
            height: 38px;
          }

          .caption {
            display: inline-block;
            margin-left: 10px;
            max-width: 110px;
            height: auto;
            vertical-align: middle;
            font-size: 14px;

            .logged-user,
            .logged-user-email {
              display: block;
              line-height: 1;
            }

            .logged-user {
              @include ellipsis();

              margin-bottom: 3px;
              max-width: 110px;
              color: darken($text-color, 5%);
            }

            .logged-user-email {
              color: $text-muted;
              font-size: 12px;
            }
          }
        }
      }
    }

    &:hover,
    &.open {
      .avatar {
        @include box-shadow(0 0 0 3px $brand-primary);
      }
    }

    &.open {
      @include breakpoint($grid-float-breakpoint-max) {
        .dropdown-menu {
          top: 90%;
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}

@include breakpoint(sm) {
  .home-page,
  .category-page,
  .product-page {
    header.navbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: $zindex-navbar-fixed;
      border-width: 0 0 1px;
    }
  }
}

.scrolled {
  header.navbar {
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .06));

    border-bottom-color: rgba(0, 0, 0, .15);
    background-color: $light;
  }
}
