header.navbar {
  @include box-shadow(none);
  @include transition(.2s ease);
  @include breakpoint(sm) {
    background-color: transparent;
  }

  margin: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: $light;

  .navbar-brand {
    display: block;
    margin-left: 0 !important;
    height: 100px;
    color: $text-color !important;
    text-transform: uppercase !important;
    opacity: 1;

    &.navbar-brand-img {
      padding: 18px 0;

      img {
        @include breakpoint(sm) {
          max-width: none;
          width: auto;
          height: 100%;
          vertical-align: middle;
        }

        max-width: 230px;
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-login-form {
    $input-bg: darken($gray-lighter, 2%);

    padding: 25px 0;
    font-size: 14px;

    label {
      @include breakpoint(sm) {
        margin-right: 5px;
        margin-left: 15px;
      }

      font-weight: 400;
      font-size: 14px;
    }

    .form-control {
      padding: 3px 8px;
      border-color: $input-bg;
      background-color: $input-bg;
    }

    .btn {
      @include breakpoint(sm) {
        margin-left: 10px;
      }
    }

    .separator {
      @include breakpoint(sm) {
        display: inline-block;
      }

      display: none;
      margin: 0 15px;
      height: 50px;
      border-right: 1px solid darken($border-color-base, 20%);
    }

    .links {
      p {
        margin: 0;
        line-height: 1.4;

        a {
          padding: 0 !important;
          color: $text-color;
          font-size: 12px;
        }
      }
    }
  }

  .navbar-collapse {
    background-color: $light;
  }
}

@include breakpoint(sm) {
  .home-page,
  .category-page,
  .product-page {
    header.navbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: $zindex-navbar-fixed;
      border-width: 0 0 1px;
    }
  }
}

.scrolled {
  header.navbar {
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .06));

    border-bottom-color: rgba(0, 0, 0, .15);
    background-color: $light;
  }
}
