header.navbar {
  @include box-shadow(none);

  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  background-color: transparent;

  .navbar-brand {
    display: block;
    height: 90px;
    color: $text-color !important;
    text-transform: uppercase !important;
    opacity: 1;

    &.navbar-brand-img {
      padding: 15px 0;

      img {
        width: auto;
        height: 100%;
        vertical-align: middle;
      }
    }
  }

  .navbar-login-form {
    $input-br: darken($gray-lighter, 10%);

    padding: 18px 0;
    font-size: 14px;

    label {
      margin-right: 5px;
      margin-left: 15px;
      font-weight: 400;
      font-size: 14px;
    }

    .form-control {
      padding: 3px 8px;
      border-color: $input-br;
      background-color: $input-br;
    }

    .btn {
      margin-left: 10px;
    }

    .separator {
      margin: 0 15px;
      height: 50px;
      border-right: 1px solid darken($border-color-base, 20%);
    }

    .links {
      p {
        margin: 0;
        line-height: 1.4;

        a {
          padding: 0 !important;
          color: $text-color;
          font-size: 12px;
        }
      }
    }
  }
}
