.product-list {
  padding-bottom: $padding-large-vertical * 10;
  background-color: $body-bg;
}

.product-card {
  @include breakpoint(sm) {
    height: 420px;
  }
  @include breakpoint(md) {
    height: 542px;
  }
  @include breakpoint(lg) {
    height: 420px;
  }
  @extend .panel;
  @extend .panel-default;

  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  max-width: 280px;
  border: none;
  background-color: transparent;

  .logo {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    height: 170px;

    img {
      @include translate(-50%, -50%);

      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
    }
  }

  .caption {
    padding: 0;
    color: $light;

    .title {
      @include breakpoint(sm) {
        height: 42px;
      }

      display: block;
      margin-top: $padding-large-vertical;
      margin-bottom: $padding-large-vertical;
      color: $light;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
    }

    .subtitle {
      color: darken($light, 10%);
    }
  }

  .footer {
    @include breakpoint(sm) {
      margin-bottom: 0;
    }
    @include breakpoint(sm) {
      position: absolute;
      right: 0;
      bottom: $padding-large-vertical + 5;
      left: 0;
    }

    clear: both;
    margin-top: $padding-large-vertical * 3;
    margin-bottom: $padding-large-vertical + 5;

    .price {
      display: inline-block;
      padding: 20px 0;
      width: 100%;
      color: $light;
      vertical-align: middle;
      line-height: 1.3;

      .base-price {
        display: block;
        font-size: 12px;
        line-height: 1;
      }

      .final-price {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .call-to-action {
      display: block;
      width: 100%;

      .btn,
      .btn-group {
        position: relative;
        display: block;
        min-height: 40px;
        width: 100%;
        text-transform: uppercase;
      }

      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}
