.social-links {
  @include breakpoint(sm) {
    text-align: right;

    a {
      margin: 0;
    }
  }

  margin-bottom: $padding-large-vertical * 8;
  text-align: center;

  a {
    display: inline-block;
    margin-bottom: $padding-large-vertical;
  }
}
