.categories-page {
  .category-hero {
    @include breakpoint(sm) {
      height: 384px;
    }

    height: auto;
    text-align: center;

    img {
      @include breakpoint(sm) {
        @include translate(-50%, 0);

        position: absolute;
        bottom: 25px;
        left: 50%;
      }

      max-width: 100%;
      height: auto;
    }
  }

  .category-list {
    margin-bottom: $padding-large-vertical * 8;

    .top-categories {
      margin: 0;
      padding: 0;
      list-style-position: inside;
      text-align: left;

      .list-group-item {
        @include user-select(none);

        display: block;
        padding: 7px 0;
        border-right: none;
        border-left: none;
        background-color: transparent;
        cursor: default;

        &.has-children {
          @include clearfix();

          .toggle-btn {
            float: right;
            margin-top: 0;
            margin-right: 0;
            border-color: transparent;

            &,
            &:focus {
              background-color: transparent;
            }

            &:hover {
              border-color: $btn-default-border;
            }

            .icon {
              @include rotate(-90deg);

              width: auto;
              font-size: 14px;

              .caret {
                $caret-width-base: 5px;

                border-top: $caret-width-base dashed;
                border-top: $caret-width-base solid;
                border-right: $caret-width-base solid transparent;
                border-left: $caret-width-base solid transparent;
                color: $light;
              }
            }
          }

          .list-group {
            margin-top: $padding-large-vertical;
            margin-left: 7px;
          }

          .list-group {
            margin-left: 0;

            .list-group-item {
              font-size: 14px;

              .category-title {
                line-height: 2.4;
              }

              &.has-children {
                .toggle-btn {
                  float: left;
                  margin-right: 5px;
                }

                .list-group {
                  .list-group-item {
                    padding-left: 50px;
                    font-size: 12px;
                  }
                }
              }
            }
          }

          > .category-info {
            max-width: calc(100% - 56px);
          }

          &.expanded {
            > .toggle-btn {
              .icon {
                @include rotate(0);
              }
            }
          }
        }

        > .category-info {
          @include clearfix();

          position: relative;
          display: inline-block;
          width: 100%;
          cursor: default;

          .center {
            display: inline-block;
            vertical-align: middle;
            font-weight: normal;
          }

          .center {
            min-width: 100px;
            max-width: calc(100% - 20px);
            width: 100%;
          }

          .category-title {
            @include text-overflow;

            display: inline-block;
            width: 100%;
            height: 25px;
            color: $light;
            vertical-align: middle;

            &:hover {
              span {
                position: absolute;
                top: -1px;
                z-index: 1000;
                padding: 2px 10px 2px 0;
              }
            }
          }
        }

        &.current {
          background-color: transparent;
          font-weight: 600;

          > .category-info {
            .category-title {
              font-weight: 600;
            }
          }
        }
      }

      > .list-group-item {
        padding-right: 0;

        &.has-children {
          .list-group {
            position: relative;

            .list-group-item {
              padding-right: 0;
              border: none;
              border-radius: 0;
            }
          }
        }

        &.current {
          font-weight: 600;
        }
      }
    }
  }

  .category-breadcrumbs {
    $color: darken($light, 10%);
    @include breakpoint(sm) {
      display: block;
    }

    display: none;
    margin: 0;
    margin-bottom: $padding-large-vertical * 4;
    padding: 0;
    padding-left: 20px;
    list-style: none;
    line-height: 1;

    li {
      display: inline-block;
      font-size: 14px;
      line-height: 1;

      .separator {
        display: inline-block;
        margin: 0 3px;
        color: $color;
      }

      a,
      span {
        color: $color;
        line-height: 1;
      }

      a {
        &:hover {
          color: $light;
        }
      }
    }
  }
}
