.home-page {
  padding: 0;

  .home-hero {
    .hero-content {
      .hero-slider {
        @include transition(opacity .2s ease);
        @include breakpoint(md) {
          display: block;
        }

        position: absolute;
        bottom: 13px;
        left: 335px;
        display: none;
        max-width: 615px;
        opacity: 0;
      }

      .hero-badge {
        padding-top: 15px;
      }

      .hero-videos {
        @include transition(opacity .2s ease);

        opacity: 0;

        iframe,
        embed {
          @extend .embed-responsive-item;
        }

        .videos-nav {
          margin-top: 15px;
          padding: 0 15px;
        }
      }
    }
  }

  .home-categories {
    $color: lighten($body-bg, 75%);

    margin: 0;
    padding: $padding-large-vertical * 2 0;
    max-width: 320px;
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    color: $color;
    list-style: none;

    li {
      a {
        @include ellipsis();
        @include breakpoint(sm) {
          text-align: left;
        }

        display: block;
        padding: 5px 0;
        color: $color;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .home-partners {
    margin: $padding-large-vertical * 8 0;
    padding: $padding-large-vertical * 2 0;

    li {
      a {
        @include breakpoint(sm) {
          text-align: left;
        }

        display: block;
        margin-bottom: 35px;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .home-product-list {
    @include breakpoint(sm) {
      .col {
        text-align: right;

        .product-card {
          display: inline-block;
          margin-right: auto;
          margin-left: 0;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
