.home-page {
  padding: 0;

  .navbar {
    border-bottom: none;
  }

  .home-hero {
    .hero-content {
      .hero-slider {
        position: absolute;
        bottom: 17px;
        left: 320px;
        max-width: 615px;
      }
    }
  }

  .home-categories {
    $color: lighten($body-bg, 75%);

    margin: 0;
    padding: $padding-large-vertical * 2 0;
    max-width: 320px;
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    color: $color;
    list-style: none;

    li {
      a {
        @include ellipsis();

        display: block;
        padding: 5px 0;
        color: $color;
        font-size: 16px;
      }
    }
  }

  .home-partners {
    margin: $padding-large-vertical * 8 0;
    padding: $padding-large-vertical * 2 0;

    li {
      a {
        display: block;
        margin-bottom: 35px;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .home-social-links {
    margin-bottom: $padding-large-vertical * 8;
    text-align: right;
  }

  .home-product-list {
    .col {
      text-align: right;

      .product-card {
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        text-align: left;
      }
    }
  }
}
