.product-page {
  $border-color: lighten($body-bg, 75%);
  $product-text-color: darken($light, 10%);

  padding-bottom: $padding-large-vertical * 8;

  .product-hero {
    min-height: 320px;
    height: auto;

    .hero-badge {
      .image {
        @include translate(0, -50%);

        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }

        .video-player {
          @extend .embed-responsive;
          @extend .embed-responsive-16by9;

          iframe {
            @extend .embed-responsive-item;
          }
        }
      }
    }

    .hero-info {
      $color: lighten($text-color, 10%);
      @include breakpoint(sm) {
        position: absolute;
        top: 150px;
        bottom: 30px;
        left: 335px;
        padding: 0 60px;
        max-width: 615px;
      }

      padding: $padding-large-vertical * 8 15px;

      .title {
        margin: 0;
        margin-bottom: $padding-large-vertical;
        color: $color;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
        line-height: 1;
      }

      .subtitle {
        margin: 0;
        margin-bottom: $padding-large-vertical;
        color: $color;
        font-size: 22px;
        line-height: 1;
      }

      .enroll {
        max-width: 320px;

        .price {
          margin: 0;
          color: $color;
          font-size: 42px;
        }

        .btn,
        .btn-group {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .product-nav {
    @include breakpoint(sm) {
      border-bottom: none;
    }

    margin: 0;
    padding: 25px 0;
    max-width: 320px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    list-style: none;

    li {
      a {
        display: block;
        padding: 5px 0;
        color: $product-text-color;
        text-decoration: none;
        font-size: 17px;

        &.active {
          font-weight: 600;
        }
      }
    }
  }

  .product-contact {
    @include breakpoint(sm) {
      display: block;
    }

    display: none;
    padding: 25px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $product-text-color;

    .title {
      margin-top: 0;
      margin-bottom: 0;
      color: $product-text-color;
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
    }
  }

  .product-content {
    @include breakpoint(sm) {
      margin-top: 0;
    }

    display: none;
    margin: 0 auto;
    margin-top: $padding-large-vertical * 4;
    max-width: 600px;
    color: $product-text-color;

    &.active {
      display: block;
    }

    p,
    h1,
    h2,
    h3,
    h4 {
      margin-top: 0;
      color: $product-text-color;
    }

    .title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 24px;
      line-height: 1;
    }
  }

  .product-teachers {
    .panel {
      background-color: transparent;

      .panel-heading {
        border-color: $border-color;
        background-color: transparent;

        a {
          color: $product-text-color;
        }
      }
    }

    .teacher-photo {
      float: left;
      margin-right: 15px;
      max-width: 128px;
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .product-banner {
    $bg: #c90e1e;

    position: relative;
    margin: 0 auto;
    margin-bottom: $padding-large-vertical * 8;
    padding: 6px 10px;
    max-width: 550px;
    background-color: $bg;
    color: rgba($light, .8);
    text-transform: uppercase;
    font-size: 14px;

    &:before,
    &:after {
      @include breakpoint(sm) {
        display: block;
      }

      position: absolute;
      top: 50%;
      display: none;
      margin-top: -19px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 19px;
      content: ' ';
      pointer-events: none;
    }

    &:before {
      right: 100%;
      border-right-color: $bg;
    }

    &:after {
      left: 100%;
      border-left-color: $bg;
    }

    p {
      margin: 0;
    }
  }
}

@import 'product/list';
@import 'product/path-content';
@import 'product/course-content';
