<header class="page-hero home-hero" style="background-image: url({{ 'home-hero.png'  | asset_url }})">
  <div class="hero-content">
    <div class="container">
      <div class="hero-badge"></div>
      <div class="js-hero-slider hero-slider owl-carousel owl-theme">
        {% for slide in settings.view.home.slides %}
          <img src="{{ slide.image }}" alt="">
        {% endfor %}
      </div>
    </div>
  </div>
</header>
